body {
    margin: 0;
    text-align: center;
    font-family: inter;
    background: #1F2937;
}
.convert-page {
    background: #6943FF;
    color: white;
    margin-top: 0;
    padding: 25px;
    text-shadow: 1px 2px #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header>h1 {
    font-size: 28px;
    margin-top: 0px;
}
#fill-in {
    line-height: 24.39px;
    width: 40px;
    font-weight: bold;
    border: 1.5px solid #B295FF;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
button {
    font-family: inherit;
    margin-top: 10px;
    border-radius: 3px;
    border: 0;
    padding: 2px 5px;
    cursor: pointer;
}
.conversion-results {

}
.brd-allign {
    border: 2px solid none;
    border-radius: 5px;
    margin: 20px;
    background: #273549;
    padding: 1px;
    
}
body >div > div > h2 {
    font-size: 20px;
    border: none;
}

.measure {
    color: #B295FF;
}
.result {
    font-size: 0.8em;
    margin: 10px 10px;
}